<span class="d-block p-2 bg-primary text-white">Dane Twojego Bota</span>
<!--<div class="border border-primary">-->
  <table class="table table-bordered table-dark">
    <tbody>
    <tr>
      <td style="width: 40%; text-align: center">Ostatni kurs</td>
      <!--<td>{{this.bot.ostatniKurs}}</td>-->
      <td>1</td>
    </tr>
    <tr>
      <td style="text-align: center">Ostatnie przewidywania</td>
      <!--<td>{{this.bot.ostatniePrzewidywania}}</td>-->
      <td>2</td>
    </tr>
    </tbody>
  </table>
<!--</div>-->

