

<div class="p-3 mb-2 bg-secondary text-white">
  <button type="button" class="btn btn-success" (click)="getDefaultPrediction($event)">Przeładuj predykację od nowa</button>
<div class="container">

  <div class="row" style="padding-bottom: 30px; padding-top: 30px">
    <div class="col">
      <span class="d-block p-2 bg-primary text-white">Sterowanie jądrem algorytmu</span>
      <table class="table table-striped table-dark">
        <tbody>
        <tr>
          <td>Zbiór testowy</td>
          <td><input #test_size type="number"></td>
        </tr>
        <tr>
          <td>Zbiór treningowy</td>
          <td><input #train_size type="number"></td>
        </tr>
        <tr>
          <td>Okno przewidywania</td>
          <td><input #window_size type="number"></td>
        </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-success" (click)="getDedicatedPrediction(test_size.value,train_size.value,window_size.value)">Ustaw wartości</button>
    </div>
    <div class="col">
      <div class="mb-2 bg-white bg-secondary text-dark">
        <app-bitcoin-rates></app-bitcoin-rates>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" >
      <span class="d-block p-2 bg-primary text-white">Kurs bitcoina</span>
      <div class="border border-primary">
        <ng-dygraphs
          [data]="data"
          [options]="options">
        </ng-dygraphs>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 10px; width: 400px">
    <div class="col">
  </div>


</div>
</div>



