
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Waluta</th>
    <th scope="col">Nazwa</th>
    <th scope="col">Kurs</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>{{bitcoinRates.bpi.USD.code}}</td>
    <td>Dolar</td>
    <td>{{bitcoinRates.bpi.USD.rate}}</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>{{bitcoinRates.bpi.EUR.code}}</td>
    <td>Euro</td>
    <td>{{bitcoinRates.bpi.EUR.rate}}</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>{{bitcoinRates.bpi.GBP.code}}</td>
    <td>Frank</td>
    <td>{{bitcoinRates.bpi.GBP.rate}}</td>
  </tr>
  </tbody>
</table>
